 global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend http_front
    bind {{ haproxy_vip }}:80
    stats uri /haproxy?stats  # This gives you a web dashboard to see server health
    default_backend http_back

backend http_back
    balance roundrobin
    option redispatch
 
    # This loop automatically adds every IP in your [eservice] group
    {% for host in groups['eservice'] %}
    server {{ hostvars[host]['ansible_hostname'] | default(host) }} {{ host }}:80 check inter 2000 fall 2 rise 2
    {% endfor %}




